<%= form_for(@feedback) do |f| %>
  <% if @feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

      <ul>
      <% @feedback.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- NOTE: Labels are correct, but where the points are allocated in the db is wrong.  But delegate still get their points !!!!!!!!!! -->
  <div class="field">
    <%= f.label :receiver %><br>
    <%= select("feedback", "receiver", Delegate.all.collect {|d|
     [ d.fullname] }, {include_blank: 'None'}, class: "form-control", :required => true)

    %>
  </div>
 <!--
 <div class="field">
    <%= f.label "Case Number" %><br>
    <%= f.number_field :leadership, class: "form-control", in: 1...5, :required => true  %>
  </div>-->
  <div class="field">
    <%= f.label :impact %><br>
    <%= f.number_field :case_impact, class: "form-control", in: 1...11, :required => true  %>
  </div>
  <div class="field">
    <%= f.label :feasibility %><br>
    <%= f.number_field :case_feasibility, class: "form-control", in: 1...11, :required => true   %>
  </div>

  <div class="field">
    <%= f.label :innovation %><br>
    <%= f.number_field :case_innovation, class: "form-control", in: 1...11, :required => true  %>
  </div>

  <div class="field">
    <%= f.label :presentation %><br>
    <%= f.number_field :case_presentation, class: "form-control", in: 1...11, :required => true  %>
  </div>

  <div class="field">
    <%= f.label :overall %><br>
    <%= f.number_field :case_overall, class: "form-control", in: 1...11, :required => true  %>
  </div>

  <div class="field">
    <%= f.label :exec_secret %><br>
    <%= f.number_field :exec_secret, class: "form-control", :required => true  %>
  </div>

  <div class="actions">
    <%= f.submit "Give Feedback", :class => 'btn btn-success'  %>
  </div>
<% end %>
