<% @pending_feedback = Delegate.pending_feedback(current_delegate) %>

<% if @pending_feedback <= 0 %>


<div class="thanks" style="padding-top:150px;">
<center>
<h3>You have no feedback to give</h3>
<%= fa_icon "check-circle 5x", :style => "color:#2ecc71" %></center>
</div>

<% else %>
<%= form_for(@feedback) do |f| %>
  <% if @feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

      <ul>
      <% @feedback.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <!-- <div class="field">
    <%= f.label :receiver %><br>
    <%= f.text_area :receiver, class: "form-control", :required => true %>
  </div> -->
<h6>Please make sure you look over this <%= link_to "rubric", "https://www.dropbox.com/s/71nj8rf8dkel5qf/rubric.pdf?dl=1", :target => '_blank'%> before submitting feedback</h6>

 <div class="field">
    <%= f.label :receiver %><br>
    <%= select("feedback", "receiver", Delegate.all.collect {|d|

      if d.email != current_delegate.email

     [ d.fullname]
     end }, {include_blank: 'None'}, class: "form-control")

    %>
  </div> 

 
  <div class="field">
    <%= f.label :good_comments %><br>
    <%= f.text_area :good_comments, class: "form-control", :required => true %>
  </div>
  <div class="field">
    <%= f.label :improvement_comments %><br>
    <%= f.text_area :improvement_comments, class: "form-control", :required => true  %>
  </div>
  <div class="field">
    <%= f.label :leadership %><br>
    <%= f.number_field :leadership, class: "form-control", in: 1...11, :required => true  %>
  </div>
  <div class="field">
    <%= f.label :creativity %><br>
    <%= f.number_field :creativity, class: "form-control", in: 1...11, :required => true   %>
  </div>

  <div class="field">
    <%= f.label :business_sense %><br>
    <%= f.number_field :business_sense, class: "form-control", in: 1...11, :required => true  %>
  </div>

  <div class="field">
    <%= f.label :presentation_skills %><br>
    <%= f.number_field :presentation_skills, class: "form-control", in: 1...11, :required => true  %>
  </div>

  <div class="field">
    <%= f.label :overall_contribution %><br>
    <%= f.number_field :overall_contribution, class: "form-control", in: 1...11, :required => true  %>
  </div>

  <div class="actions">
    <%= f.submit "Give Feedback", :class => 'btn btn-success'  %>
  </div>
<% end %>

<% end %>
